.navbar.burrow-nav {
    background-color: #003366 !important;
    color: white;
}

.navbar.burrow-nav .dropdown-menu-dark {
    background-color: #002160;
}

aside.sidebar, aside.sidebar>div {
    background-color: #cccccc;
    justify-content: center;
    align-content: center;
    display: flex;
    
}
