.profile-image {
    border-radius: 100%;
}

body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #4285f4;
    color: white;
}

a {
    color: white;
}

a:hover, a:active {
    color: #dddddd;
}